/* 
 * Copyright 2014 Víctor Orozco.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/*
 * Styles designed to personalize data charts 
 */

.axis {
    -fx-font-size: 2em;
    -fx-font-family: Tahoma;
    -fx-tick-length: 20;
    -fx-minor-tick-length: 10;
}

.chart-title {
    -fx-font-size: 2.5em;
}

.chart-legend {
    -fx-font-size: 2em;
}

.default-color0.chart-series-line { -fx-stroke: #a6cee3; }
.default-color1.chart-series-line { -fx-stroke: #1f78b4; }
.default-color2.chart-series-line { -fx-stroke: #b2df8a; }
.default-color3.chart-series-line { -fx-stroke: #003c30; }
.default-color4.chart-series-line { -fx-stroke: #fb9a99; }
.default-color5.chart-series-line { -fx-stroke: #e31a1c; }
.default-color6.chart-series-line { -fx-stroke: #fdbf6f; }
.default-color7.chart-series-line { -fx-stroke: #ff7f00; }
.default-color8.chart-series-line { -fx-stroke: #cab2d6; }
.default-color9.chart-series-line { -fx-stroke: #762a83; }


.default-color0.chart-line-symbol { /* hollow circle */
    -fx-background-color: #a6cee3, white;
    -fx-background-radius: 5px;
    -fx-padding: 5px;
}
.default-color1.chart-line-symbol { /* solid diamond */
    -fx-background-color: #1f78b4;
    -fx-background-radius: 0;
    -fx-padding: 7px 5px 7px 5px;
    -fx-shape: "M5,0 L10,9 L5,18 L0,9 Z";
}
.default-color2.chart-line-symbol { /* cross */
    -fx-background-color: #b2df8a;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-shape: "M2,0 L5,4 L8,0 L10,0 L10,2 L6,5 L10,8 L10,10 L8,10 L5,6 L2,10 L0,10 L0,8 L4,5 L0,2 L0,0 Z";
}
.default-color3.chart-line-symbol { /* solid triangle */
    -fx-background-color: #003c30;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-shape: "M5,0 L10,8 L0,8 Z";
}
.default-color4.chart-line-symbol { /* hollow circle */
    -fx-background-color: #fb9a99, white;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 5px;
    -fx-padding: 5px;
}
.default-color5.chart-line-symbol { /* hollow square */
    -fx-background-color: #e31a1c, white;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 0;
}
.default-color6.chart-line-symbol { /* hollow diamond */
    -fx-background-color: #fdbf6f, white;
    -fx-background-radius: 0;
    -fx-background-insets: 0, 2.5;
    -fx-padding: 7px 5px 7px 5px;
    -fx-shape: "M5,0 L10,9 L5,18 L0,9 Z";
}
.default-color7.chart-line-symbol { /* solid square */
    -fx-background-color: #ff7f00;
    -fx-background-radius: 0;
}
.default-color8.chart-line-symbol { /* solid circle */
    -fx-background-color: #cab2d6;
    -fx-background-radius: 5px;
    -fx-padding: 5px;
}
.default-color9.chart-line-symbol { /* hollow triangle */
    -fx-background-color: #762a83, white;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-shape: "M5,0 L10,8 L0,8 Z";
}